<h1>Shop</h1>

<ul>
    <% @products.each do |product| %>
        <li>
            <h2><%= product.product_name.capitalize %></h2>
            <h4><%= product.current_country.capitalize %></h4>
            <h2><%= product.price %></h2>
        </li>
    <% end %>    
</ul>