<h1 class="title">New Item</h1>
<!-- brings in the form partial  -->
<%= render "form", product: @product %>
<br>
<%= link_to "Cancel", products_path, class: 'button is-small is-info is-outlined' %>
<!-- easily redirects to the shop page -->