<h1 class="title">What is X-Pat | X-Change</h1>

<p class="box is-fluid"> 
    With a global world, more people are moving between countries. 
    A challenge that faces those moving is the differing electronic 
    requirements in various countries. 
    Inspired by personal experience, this site aims to connect those moving
    with those who already have. In my experience, I planned to bring over
    appliances and purchased a converter to save money. The converter failed,
    fried a favorite appliance, and left me with a whole lot of appliances
    to store and not use. 
</p>