<!-- Explains the purpose of the app and provides info re voltage and plugs -->

<h1 class="title">What is X-Pat | X-Change?</h1>

<div class="box content-is-medium">     
    <p>With a global world, more people are moving between countries. 
        A challenge that faces those moving is the differing electronic 
        requirements in various countries.
    </p>
    <br>
    <p>Inspired by personal experience, this site aims to connect those moving
        with those who already have. Personally, I planned to bring over
        appliances to use with a converter. The converter failed,
        fried a favorite appliance, and left me with a whole lot of appliances
        to store and without use. 
    </p> 
    <br>
    <p>The voltages and plugs used around the world vary significantly. Find 
        answers to your questions <a href="https://www.worldstandards.eu/electricity/plug-voltage-by-country/">here</a>. 
    </p>
</div>

<%= render "plugs" %>

