<h1 class="title">Contact us!</h1>
<div class="box ">
    <p class="is-size-4">Have questions / concerns / suggestions or just want to say hi?</p>
    <p class="is-size-4">Drop us a line!</p>
    <p>Bonus points if you figure out how.</p>
</div>
