<div class="box has-text-centered">
    <p class="is-size-3">
        Moving abroad? Buy and sell your electronics with fellow expats.
    </p> 
    <p class="is-size-5">
        A spot for those who have moved overseas and those who are moving overseas to connect. 
    </p>
    <p class="is-size-5">
        This is your one stop solution for all your foreign appliance woes. 
    </p>
</div>

<%= render "plugs" %>
