<h1>X-PAT | X-CHANGE</h1>

<p>
    A spot for those who have moved overseas and those who are moving overseas to connect. 
</p>
<p>
    This is your one stop solution for all your foreign appliance woes. 
</p>
